.eod_ticker{
    display: inline-block;
    font-size: 12px;
}

.eod_ticker [role='name'] {
    font-weight: bold;
    margin-right: 5px;
}

.eod_ticker [role='value'] {

}

.eod_ticker.error,
.eod_ticker.minus [role='evolution'] {
    color: #b92c28;
}

.eod_ticker.plus [role='evolution'] {
    color: #27a644;
}
.eod_ticker.equal [role='evolution'] {
    color: #357ebd;
}

.eod_ticker [role='evolution']::after{
    display: inline-block;
    width: 30px;
    height: 30px;
    -webkit-background-size: contain;
    background-size: contain;
}

.eod_ticker.minus [role='evolution']::after{
    content: '\f140';
    font-family: dashicons;
    color: #b92c28;
}
.eod_ticker.plus [role='evolution']::after{
    content: '\f142';
    font-family: dashicons;
    color: #27a644;
}
.eod_ticker.equal [role='evolution']::after{
    content: '=';
    color: #357ebd;
}

ul.eod_widget_ticker_list li {
    display: block;
}